/* 
* ========================= IMPORTS =============================
*/

@import "compass/css3";

@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
   font-family: AdamLight; 
   src: url('../Fonts/ADAM-CG PRO LIGHT.otf');
} 

@font-face {
   font-family: Adam; 
   src: url('../Fonts/ADAM-CG PRO.otf');
} 

.bulmaHeaderOverrideArrow {
    color: white !important;
}

.navbar-link::after {
    border-color: white;
    margin-top: -.375em;
    right: 1.125em;
}

$color1:teal;
$cloudColor:#ecf0f1;

#bigHalfCircle path {
	fill: darken($color1, 7%);
	stroke: darken($color1, 7%);
}